.contenedor {
    background:rgba(26, 26, 26, 0.75);
    max-width: 600px; 
    height: 420px !important;
    margin-top: 7%;
    border-radius: 72px;
    -moz-border-radius: 72px;
    -webkit-border-radius: 72px;

    
    }
form{
    margin: 0 auto;


    }
.user{
        padding: 2px;
        color: #5BF0FF;
        font-size: 264%;
        margin-top: 0%;
        position: flex;
        font-family: 'Nunito', sans-serif;
        margin-top: -19px;
        
    }
    ._btn-tq{
        margin-top: 24px;
        font-family: 'Nunito', sans-serif;
        text-transform: none;
        box-shadow: rgb(0, 108, 119);
        border-radius: 1000px;
        background-color: #00909E ; 
        color:#fff;
        width: 80px;
        height: 35px;
    font-family: 'Nunito', sans-serif;
     box-shadow: 0.2px 4px 0px 0px rgba(0,108,119,1);
    }
    .Desing{
     background: white;
        width: 78%;
        height: 12.5rem;
        border-radius: 1000px;
    -moz-border-radius: 132px 132px 132px 132px;
    -webkit-border-radius: 132px 132px 132px 132px;
    border: 0px solid;
        margin-left: 11%;
        
    }
    .Input-msg{
        max-width: 70%;
        height: 110px !important;
        resize: none;
        margin-top: 2.5%;
        font-family: 'Balsamiq Sans', cursive;
        border-color: #969696 !important;
        
        
    }
    .Input-msg:focus {
         border: #969696 !important;
         outline: none !important;
         outline-width: 100% !important;
         background-color:#d1ceceba ;
         border-radius: 12px 12px 12px 12px;
         -moz-border-radius: 22px 22px 22px 22px;
          height: 8rem;
          font-family: 'Dubai Light';;
          font-size: 120%;
         padding-right: 1.5rem;
          padding-left: 1.5rem;
          padding-top: 6px;
    
    }
    .Input-msg::placeholder {
        color: rgb(168, 164, 164);
        font-family: 'Dubai regular';
        
    }
    
    .firstRowText{
        color: #efebeb;
        color: white;
        font-size: 106%;
        margin-top: -19px;
    }
    .secondRowText{
       color: #efebeb;
       color: white;
       font-size: 106%;
       margin-top: -3px;
    }
    .logoCloud{
        margin-top: -18.5%;
        width: 30%;
    }
    
    @media only screen and (max-width: 533px){
        .contenedor { 
            max-width: 1000px;
            height: 740px !important;
            margin-left: 0%;
            margin-top: 0%;
            border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid #000000;
            
        }
        .user{
            margin-top: -3px;
            
        }
        .firstRowText{
            margin-top: 1px;
        }
        .logoCloud{
            margin-top: 5%;
            width: 40%;
           
        }
        .Desing{
            border-radius: 0px;
            -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #000000;
    width: 90%;
    height: 17rem;
    margin-left: 5%;
    margin-top: 17px;
        }
        .Input-msg:focus {
            height: 12.5rem;
        }
        ._btn-tq{
           min-height: -5px; 
           min-width: 118px;
           margin-top: 48px;
        }
    }
    @media only screen and (max-width: 405px){
        .contenedor { 
            max-width: 1000px;
            height: 55rem !important;
            margin-left: 0%;
            margin-top: 0%;
            border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid #000000;
            
        }
        .user{
            margin-top: -3px;
            font-size: 250%;
        }
        .firstRowText{
            margin-top: -5px;
        }
        .logoCloud{
            margin-top: 3%;
            width: 40%;
           
        }
        .Desing{
            border-radius: 0px;
            -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #000000;
    width: 90%;
    height: 11rem;
    margin-left: 5%;
    margin-top: 15px;
        }
        .Input-msg:focus {
            height: 12.5rem;
        }
        ._btn-tq{
           min-height: 48px; 
           min-width: 118px;
           margin-top: 48px;
        }
    }