.signedup-container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.tqlogo {
	position: relative;
	width: 500px;
	height: auto;
	top: -15px;
}

.toggler-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	position: relative;
	top: -15px;
}

.toggler-container > h1 {
	font-size: 32px;
}

.toggler-container > p {
	max-width: 410px;
	font-size: 16px;
	font-family: NunitoBold;
}

.arrow {
	width: 35px;
	height: 35px;
	transform: rotateY(180deg);
	filter: drop-shadow(0px 0px 1px black) contrast(5.5) invert(0.8) saturate(1)
		sepia(0.001) brightness(0.9);
	transition: filter 150ms, transform 150ms;
}

.login-arrow-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 50%;
	transition: transform 150ms;
	cursor: pointer;
}

.login-arrow-container:hover {
	transform: scale(1.1);
}

.login-arrow-container:hover > .arrow {
	transform: translateX(5px) rotateY(180deg);
	filter: drop-shadow(0px 0px 1px black) contrast(5.5) invert(0.97) saturate(1)
		sepia(0.001) brightness(0.9);
}

.login-arrow-container:hover > span {
	color: var(--tq-blue-02);
}

.login-arrow-container > span {
	font-size: 35px;
}
