.container{
    min-height: 100vh;
    min-width: 100vw;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.form>p{
    max-width: 270px;
    color: var(--tq-dark-gray-02)
}

.form>div{
    position: relative;
}

.key-field{
    display: block;
    width: 100%;
    height: 100%;
    background: #cccccc36;
    border: 1px solid #b1b1b1;
    padding: 14px;
    font-size: 20px;
    border-radius: 20px;
    color: #313131;
    max-width: 415px;
    min-width: 200px;
    margin-top: 15px;
}

.errored::after{
    content: 'Código inválido.';
    width: 100%;
    max-width: 290px;
    padding: 0 10px;
    height: 10%;
    position: absolute;
    overflow-wrap: break-word;
    margin-top: 10px;
    color: var(--tq-red-02);
    margin-bottom: 50px;
}

.container-eye-loader{
    position: absolute;
    z-index: 2;
    left: 85%;
    top: 39%;
}

.logo{
    max-width: 600px;
    width: 80%;
    height: auto;
    filter: invert(.3);
}