*,
*::before,
*::after {
	font-family: Nunito, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	text-rendering: optimizeLegibility;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='search'] {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

body {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(./assets/images/fon-b.jpg);
	background-size: cover;
	z-index: -1;
}

svg circle,
svg line,
svg path,
svg polygon,
svg rect {
	shape-rendering: geometricprecision;
	pointer-events: none;
}

small {
	color: var(--tq-gray-00);
	font-family: 'NunitoBold';
	font-size: 13px;
}

:focus {
	outline: none !important;
}

@font-face {
	font-family: Nunito;
	src: url(./assets/fonts/Nunito-ExtraBold.ttf);
}

@font-face {
	font-family: NunitoBold;
	src: url(./assets/fonts/Nunito-Bold.ttf);
}

:global {
	#react-root {
		background: #ecebeba3;
		z-index: 0;
	}

	.d-scroll {
		height: 100%;
		overflow: hidden;
	}

	.d-text-select {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.fade-appear,
	.fade-enter {
		opacity: 0;
		z-index: 1;
	}

	.fade-appear-active,
	.fade-enter.fade-enter-active {
		opacity: 1;
		transform: scale(1);
		transition: opacity 250ms linear 150ms;
		animation: enlarge 250ms;
	}

	@keyframes enlarge {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(1.02);
		}
	}

	.fade-exit {
		opacity: 1;
	}

	.fade-exit.fade-exit-active {
		opacity: 0;
		transition: opacity 150ms linear;
	}
}
