:root {
	--tq-bg-00: #191616;
	--tq-bg-01: #3b3b3b;
	--tq-dark-gray-00: rgb(40, 40, 40);
	--tq-dark-gray-01: rgb(55, 55, 55);
	--tq-dark-gray-02: rgb(60, 59, 59);
	--tq-gray-00: rgb(125, 125, 125);
	--tq-gray-01: rgb(145, 145, 145);
	--tq-gray-02: rgb(165, 165, 165);
	--tq-gray-03: rgb(191, 191, 191);
	--tq-red-00: rgb(108, 14, 14);
	--tq-red-01: rgb(172, 0, 0);
	--tq-red-02: rgb(160, 14, 14);
	--tq-red-03: rgb(169, 20, 20);
	--tq-red-04: rgb(187, 14, 14);
	--tq-blue-00: #006c77;
	--tq-blue-01: #00909e;
	--tq-blue-02: #00b2c2;
	--tq-blue-03: #0ccfe0;
	--tq-blue-04: #37c6d3;
	--tq-blue-05: #3defff;
}
