.main-container {
    display: flex;
    justify-content: space-between;
    max-height: 89.9vh;
}

.inbox-container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 90vh !important;
    background: #fff;
}

.inbox-container>h4 {
    display: inline-flex;
    color: rgb(172, 0, 0);
    margin: 25px 13px;
    align-items: center;
}

.inbox-container>h4>i {
    font-size: 44px;
}

.inbox-container>h4>span {
    padding-left: 25px;
    font-weight: 600;
}

.inbox-container>div {
    display: flex;
    justify-content: space-between;
}

.inbox-container>div>button{
    font-weight: 600;
}

.inbox-container>div>button:focus{
    background: none;
}

.inbox-container>div:nth-child(2){
    border-bottom: 1px solid rgba(0, 0, 0, 0.77);
}

.inbox-tab {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 49.4%;
    margin: 0;
    color: #fff;
    cursor: pointer;
}

.inbox-tab-msgs {
    display: flex;
}

.new-msgs-number {
    display: inline-flex;
    background-color: rgb(172, 0, 0);
    border-radius: 50%;
    color: #fff;
    padding: 1px 4px;
    font-size: 12px;
    margin-left: 2px;
    width: 20px;
    height: 20px;
    align-items: inherit;
    justify-content: center;
}

.inbox-msgs {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    max-height: 67vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.inbox-msgs::-webkit-scrollbar {
    background: #fff;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.88);
    border-radius: 2px;
}

.inbox-msgs>div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(108, 14, 14);
    text-overflow: ellipsis;
    color: #fff;
    margin-bottom: 5px;
    min-height: 85px;
    font-weight: 700;
    min-width: 100%;
    padding: 20px;
    cursor: pointer;
}

.inbox-msgs>div:nth-last-child(1) {
    margin-bottom: 0 !important;
}

.inbox-msgs>div>li {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.template-container {
    display: none;
    min-width: 100vw;
    min-height: 90vh;
    background: rgb(255, 72, 72);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}

.template-question{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.77);
    width: 155px;
    height: 90px;
    line-height: 90px;
    font-weight: 600;
    border-radius: 20%;
}

.template-btn-back{
    position: fixed;
    top: 2%;
    left: 3%;
    background:none;
    cursor: pointer;
    color: #fff;
    min-width: 25px;
    min-height: 25px;
}

.template-btn-back>i{
    font-size: 30px;
}

.template-btn-back:focus{
    background: none;
}

.template-answer{}

.template-pencil{
    float: left;
    border-radius: 50%;
    min-width: 45px;
    min-height: 45px;
}

.template-input-answer{
    color: #fff;
    border: none !important;
    text-align: center;
    width: 180px;
    height: 130px;
    resize: none;
    overflow: auto;
}

.template-input-answer::placeholder{
    color: rgb(255, 255, 255, 0.5);
    font-weight: 700;
}

.template-input-answer:focus{
    border: none !important;
    box-shadow: none !important;
    outline: none;
}
