.template-container {
    display: flex;
    min-width: 100vw;
    min-height: 90vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.template-question{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.77);
    width: fit-content;
    height: fit-content;
    font-weight: 600;
    border-radius: 20%;
    padding: 20px;
    max-width: 284px;
    min-width: 186px;
    word-break: break-all;
    margin: 30px;
}

.template-btn-back{
    background:none;
    cursor: pointer;
    color: #fff;
    min-width: 35px;
    min-height: 35px;
    justify-content: right;
}

.template-btn-back>i{
    font-size: 54px;
    background: red;
    border-radius: 25px;
    margin-right: 119px;
    
    
}
.template-btn-share{
    background:none;
    cursor: pointer;
    color: #fff;
   
}

.template-btn-share>i{
    font-size: 54px;
    background: red;
    border-radius: 25px;
}
.template-btn-back:focus{
    background: none;
}

.template-answer{}

.template-pencil{
    float: left;
    border-radius: 50%;
    min-width: 45px;
    min-height: 45px;
}

.template-input-answer{
    color: #fff;
    border: none !important;
    text-align: center;
    width: 180px;
    height: 130px;
    resize: none;
    overflow: auto;
}

.template-input-answer::placeholder{
    color: rgb(255, 255, 255, 0.5);
    font-weight: 700;
}

.template-input-answer:focus{
    border: none !important;
    box-shadow: none !important;
    outline: none;
}
.template{
    background: rgb(255, 72, 72);
    max-width: 260px;
    height: 500px;
    border-radius: 25px;
    margin-left: 15px;
    
}
.template-options{
    background: black;
    width: 226px;
    height: 416px;
    border-radius: 25px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    
}
.template-options::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.88);
    border-radius: 2px;
    color: transparent;
}
.h3{
    justify-content: center;
    margin: 30px;
}