* {
    scrollbar-width: thin !important;
    scrollbar-color: var(--tq-dark-gray-01) transparent !important;
}

:root{
    --tq-dark-gray-00: rgb(40, 40, 40);
    --tq-dark-gray-01: rgb(55, 55, 55);
    --tq-dark-gray-02: rgb(60, 59, 59);
    --tq-gray-00: rgb(125, 125, 125);
    --tq-gray-01: rgb(145, 145, 145);
    --tq-gray-02: rgb(165, 165, 165);
    --tq-input-placeholder: rgb(191, 191, 191);;
}

.template-container {
    display: flex;
    min-height: 89.9vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.template-question{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.77);
    width: fit-content;
    height: fit-content;
    font-weight: 600;
    border-radius: 20%;
    padding: 20px;
    max-width: 284px;
    min-width: 186px;
    word-break: break-all;
    margin: 30px;
}

.template-head-btns{
    display: flex;
    justify-content: space-between;
}

.template-btn-back,
.template-btn-share{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    background: rgb(167, 7, 7);
    border-radius: 35px;
    padding: 7.2px;
}

.template-btn-back>i,
.template-btn-share>i{
    font-size: 46px;
}

.template-btn-back:focus{
    background: none;
}


.template-pencil{
    float: left;
    border-radius: 50%;
    min-width: 45px;
    min-height: 45px;
}

.template-answer{
    display: flex;
    align-items: flex-end;
    background: #191616;
    width: 226px;
    height: 425px;
    margin-top: 10px;
    border-radius: 25px;
}

.template-answer-form-container{
    display: grid;
    grid-template-rows: minmax(51%, 63%) 34%;
    height: 90%;
}

.template-answer-form-container>div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.template-input-answer-container{
    display: flex;
    justify-content: center;
    position: relative;
}

.template-input-answer-inner-container{
    display: flex;
    align-items: center;
    max-width: 212.44px !important;
    min-width: 94% !important;
    font-size: 14px !important;
}

.template-input-answer-inner-container>div{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex: 1 1 auto;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    min-height: 37px;
    color: #fff;
    border: none !important;
    background-color: var(--tq-gray-00) !important;
    border-radius: 21px !important;
    padding: 0 14px !important;
    max-width: 212.44px !important;
    min-width: 94% !important;
    outline: none;
    overflow-x: hidden;
    overflow-y: auto;
}

.template-input-answer-inner-container>div:hover,
.template-input-answer-inner-container>div:focus{
    background-color: var(--tq-gray-01) !important;
}

.template-input-answer{
    min-width:0;
    min-height:0;
    font-size: 14px !important;
    background: transparent;
    width: 99%;
    padding: 5px 3px 5px 0;
    min-height: 30px;
    max-height: 130px;
    overflow: auto;
    overflow-wrap: break-word;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.template-input-answer-placeholder{
    color: var(--tq-input-placeholder);
    font-size: 15px;
    line-height: 20px;
    pointer-events: none;
    position: absolute;
    top: calc(20 / 2);
    left: 21px;
    transition: opacity .08s linear;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 100;
    z-index: 2;
}

.template-answer-btns-format-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 16px;
}

.template-answer-btns-format-container>button,
.template-answer-btns-format>button
{
    cursor: pointer;
    background-color: transparent;
    color: var(--tq-gray-00);
}

.template-answer-btns-format-container>button:hover,
.template-answer-btns-format>button:hover{
    color: var(--tq-gray-02);
}

.template-answer-btns-format{
    display: flex;
    width: 38%;
    justify-content: space-around;
}

.template-answer-options{
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
    min-height: fit-content;
    margin: 0 15px;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 38px;
}

.template-answer-options>button:first-child{ background: var(--tq-gray-00) }

.template-answer-options>button{
    cursor: pointer;
    min-height: 55px;
    min-width: 55px;
    border-radius: 35px;
    margin: 0 5px 9.5px 5px;
    background: var(--tq-dark-gray-02);
    color: #fff;
}

.template-answer-options>button:hover,
.template-answer-options>button:first-child:hover {
    animation: jump 0.5s;
}
  
@keyframes jump {
    0% { transform: translate(0, -1.5px); }
    25% { transform: translate(0, -2px); }
    50% { transform: translate(0, -1.8px); }
    75% { transform: translate(0, -1.4px); }
    100% { transform: translate(0, 0); }
}

.template-question-container{
    background: rgb(255, 72, 72);
    max-width: 260px;
    height: 500px;
    border-radius: 25px;
    margin-left: 15px;
}

.template-answer-from-question{ 
    margin: 0 15px; 
    min-height: 100px;
}

.template-answer-from-question>div{
    max-width: 216px;
    max-height: 100px;
    overflow: auto;
    overflow-wrap: break-word;
    text-align: center;
}

::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
}

::-webkit-scrollbar-thumb{
    background: var(--tq-dark-gray-01) !important;
    border-radius: 10px;
}