.curtain {
	min-height: 100vh;
	background: #ccc;
	display: flex;
	align-items: flex-end;
}
.capa {
	background-image: url(../../assets/images/msg/capa.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: 50% 0%;
	min-height: 80vh;
	width: 100%;
	max-width: 880px;
	margin-top: -64px;
	padding-top: 66px;
	min-width: 877px;
}
.nubes-top {
	display: flex;
	justify-content: center;
	position: fixed;
	align-items: flex-end;
}
.nubes2-top {
	width: 89px;
	height: 70px;
	transform: scaleX(-1);
	margin: -41px;
	z-index: 1;
	margin-left: 100px;
	position: absolute;
}

.nubes1-top {
	width: 80px;
	height: 55px;
	z-index: 1;
	margin-top: -39px;
	margin-left: -123px;
	position: absolute;
	transform: scaleX(-1);
}
.en-capa {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -102px;
}
.logo-div{
	box-sizing: content-box;
    min-height: 157px;
    min-width: 160px;
    max-width: 170px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #000000;
}
.logo {
	width: 100%;
	height: auto;
}
.sombra_perfil {
	background-color: #00000021;
	width: 163px;
	height: 9px;
	margin: 15px;
	border-radius: 50%;
}
.user {
	padding: 2px;
	color: #5bf0ff;
	font-size: 264%;
	position: flex;
	font-family: 'Nunito', sans-serif;
	margin-top: -13px;
}
.firstRowText {
	color: #efebeb;
	color: white;
	font-size: 106%;
	margin-top: -2px;
}

.secondRowText {
	color: #efebeb;
	color: white;
	font-size: 106%;
	margin-top: -3px;
	margin-bottom: 2px;
}

.contenedolsito {
	display: flex;
	justify-content: center;
	min-height: 80vh;
	min-width: 100vw;
	background: #fff;
}
.box {
	z-index: 1;
	margin: 5px;
}
.nubes-bottom {
	position: fixed;
	display: flex;
	justify-content: center;
	z-index: -1;
	margin-top: 56px;
}
.nubes1-bottom {
	width: 89px;
	height: 70px;
	margin-left: 151px;
}
.nubes2-bottom {
	width: 89px;
	height: 70px;
	transform: scaleX(-1);
	margin-left: -16px;
}
.Input-msg {
	width: 343px;
	height: 135px !important;
	resize: none;
	font-family: 'Balsamiq Sans', cursive;
	border-color: #969696 !important;
	border: #969696 !important;
	outline: none !important;
	background-color: #d4d4d4;
	border-radius: 12px 12px 12px 12px;
	-moz-border-radius: 22px 22px 22px 22px;
	font-size: 120%;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	padding-top: 6px;
	z-index: 1;
}
._btn-tq {
	font-family: 'Nunito', sans-serif;
	text-transform: none;
	border-radius: 1000px;
	background-color: #00909e;
	width: 0px;
	height: 35px;
	border-radius: 10px 78px 78px 0px;
	-moz-border-radius: 10px 78px 78px 0px;
	-webkit-border-radius: 10px 78px 78px 0px;
	border: 0px solid #000000;
	transition: 300ms;
	color: transparent;
}
.nubes-bottom2 {
	display: flex;
	position: fixed;
	justify-content: center;
	margin-left: -55px;
	margin-top: -27px;
}
.nubes1-bottom2 {
	width: 89px;
	height: 70px;
}
.sombra_textarea {
	background-color: #00000021;
	width: 317px;
	height: 6px;
	border-radius: 50%;
	margin-top: 43px;
	margin-left: -22px;
	z-index: -1;
}
.prueba {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 74px;
}
