.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
	height: 230px;
	background: #3B3B3B;
	border-Radius: 46px;
}
P {
	color: #45b7ca;
	font-size: 15px;
}
.H3 {
	font-family: 'Nunito', sans-serif;
	color: #ffff;
	font-size: -webkit-xxx-large ;

}
.H3-2 {
	font-family: Nunito, sans-serif;
	color: #ffff;
	font-size: -webkit-xxx-large;
	margin-top: -15px;
}

._btn-tq {
	margin-top: 10px;
	font-family: 'Nunito', sans-serif;
	text-transform: none;
	border-radius: 1000px;
	background-color: #9e0004;
	color: #fff;
	width: 102px;
	height: 36px;
	box-shadow: 0.2px 4px 0px 0px rgb(88, 0, 3);
}
.perfil {
	background-color: #c3c3c321;
	width: 163px;
	height: 9px;
	margin-top: 15px;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

@media only screen and (max-width: 433px) {
	.container{
		width: 342px; 
		height: 192px;

	}
	.H3 {
		font-size: xx-large;

	}
	.H3-2 {
		font-size: xx-large;
		margin-top: -6px;

	}

}