@media (max-width: 490px) {
	:global {
		.ql-editor {
			min-width: 100% !important;
			background-color: #fff !important;
			color: rgb(74, 74, 74);
		}

		.ql-container,
		.ql-container:hover {
			background-color: #fff !important;
		}

		.ql-editor.ql-blank::before {
			color: rgba(0, 0, 0, 0.2) !important;
		}
	}
}
