.labels-container {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	width: 100%;
	height: 100%;
	padding: 32px 12px 0 12px;
}

.label {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--tq-dark-gray-00);
	margin: 2px;
	border-radius: 25px;
	min-width: 45px;
	min-height: 45px;
	font-size: 31px;
	cursor: pointer;
	transition: 500ms;
}
.label:focus{
	background-color: var(--tq-gray-00);
}

.label > span {
	text-align: center;
	width: 100%;
}

.label:nth-child(1) {
	color: rgb(0, 0, 153);
}
.label:nth-child(2) {
	color: rgb(206, 0, 0);
}
.label:nth-child(3) {
	color: rgb(243, 239, 1);
}
.label:nth-child(4) {
	color: rgb(255, 51, 0);
}
.label:nth-child(5) {
	color: rgb(0, 197, 204);
}
