.container {
	display: flex;
	min-height: 100vh;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: #fff;
	z-index: -1;
}

.head-btns {
	display: flex;
	justify-content: space-between;
}

.btn-back,
.btn-share {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	color: #fff;
	background: rgb(167, 7, 7);
	border-radius: 35px;
	padding: 7.2px;
    text-decoration: none;
}

.btn-share{
    font-size: 3rem;
    padding: 0 7.2px;
}

.btn-back > i,
.btn-share > i {
	font-size: 46px;
}

.btn-back:focus {
	background: none;
}

.question-container {
	position: relative;
	background: rgb(255, 72, 72);
	max-width: 260px;
	height: 500px;
	margin-left: 15px;
    transition: background 250ms;
    border-radius: 20px;
}

.question-label{
	opacity: 0;
	display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(70px - 13px);
    left: calc((186px + 33px) / 2);
	height: 25px;
	width: 36px;
    border-radius: 10px;
    font-size: 1.3rem;
	background: var(--tq-input-placeholder);
	transition: opacity 250ms, height 100ms;
}

.remove-label-box{
	font-family: 'Nunito';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
	top: calc(60px - 13px);
    left: calc((245px + 24px) / 2);
    width: 19px;
    height: 18px;
    border-radius: 8px;
    color: #fff;
    background: rgb(245, 46, 46);
    box-shadow: 0 0 3px 1px#000;
    opacity: 0;
    transition: opacity 150ms;
	font-size: .8em;
	cursor: pointer !important;
}

.question-label.remove-label ~ .remove-label-box,
.question-label-active{
	opacity: 1;
}

.question {
    background-color: rgba(0, 0, 0, 0.54);
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    font-weight: 600;
    border-radius: 20px;
    padding: 20px;
    max-width: 284px;
    min-width: 186px;
    word-break: break-all;
    margin: 70px 30px 15px 30px;
    text-align: center;
}

.answer {
	margin: 0 15px;
	min-height: 100px;
}

.answer > div {
	max-width: 216px;
	max-height: 100px;
	overflow: auto;
	overflow-wrap: break-word;
	text-align: center;
}

.tq-scrollbar::-webkit-scrollbar,
.answer > div::-webkit-scrollbar {
	width: 6px !important;
	height: 6px !important;
}

.tq-scrollbar::-webkit-scrollbar-thumb,
.answer > div::-webkit-scrollbar-thumb {
	background: var(--tq-dark-gray-01) !important;
	border-radius: 10px;
}

.tq-scrollbar,
.answer > div {
	scrollbar-width: thin !important;
	scrollbar-color: var(--tq-dark-gray-01) transparent !important;
}
