.contenedor {
	height: 100%;
	width: 100%;
	text-align: center;
}

.contenedor > div {
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
	background: rgba(0, 0, 0, 0.5);
	min-width: 400px;
	min-height: 300px;
	border-radius: 1000px 0 0 1000px;
	width: 75%;
	float: right;
	max-width: 1250px;
}

.logoCloud {
	position: absolute;
	top: -23%;
	left: -9%;
	min-height: 291px;
	min-width: 293px;
	max-width: 203px;
	width: 100%;
}

/* .contenedor>div>span{
    
} */

.insidetext {
	max-width: 570px;
	width: 100%;
	margin: 0 0 0 20%;
	color: #fff;
	font-family: 'Nunito', sans-serif;
	font-size: 28px;
	text-align: left;
}

/* #insidetext>span,
#insidetext>h2{
    float:left;
} */

.firstRowText {
	display: inline-block;
	word-wrap: break-word;
	font-size: 22px;
}

.secondRowText {
	display: inline-block;
	word-wrap: break-word;
	font-size: 12.5px;
}

@media only screen and (max-width: 1150px) {
	h2 {
		margin: 0.373333rem 0 1.424rem 0;
	}
	.logoCloud {
		min-height: 280px;
		min-width: 283px;
		top: -28%;
		left: -9%;
	}
	.contenedor > div {
		width: 89%;
	}
	.insidetext {
		margin: 0 0 0 26%;
		max-width: 428px;
	}
	.__btn-tq {
		min-width: 87px !important;
		min-height: 41px !important;
		margin-top: 0px !important;
		font-size: 18.5px !important;
	}
}

@media only screen and (max-width: 830px) {
	.insidetext {
		margin: 0px 0 0 35%;
		max-width: 420px;
	}
}

@media only screen and (max-width: 740px) {
	h2 {
		margin: 0.373333rem 0 1.424rem 0;
	}
	.insidetext {
		max-width: 300px;
		margin: 0 0 0 37%;
	}
	.__btn-tq {
		margin-top: 0 !important;
		min-width: 66px !important;
		min-height: 30px !important;
	}
}

@media only screen and (max-width: 650px) {
	.contenedor > div {
		position: relative;
		width: 100%;
		border-radius: 0;
		margin-top: 135px !important;
	}
	.logoCloud {
		position: absolute;
		min-height: 225px;
		min-width: 228px;
		top: -47%;
		left: 2%;
		transform: translate(0%, -6%);
	}
	.insidetext {
		position: absolute;
		max-width: 667px;
		width: 430px;
		left: 2%;
		margin: 65px 0 0 0;
	}
}

@media only screen and (max-width: 440px) {
	.insidetext {
		position: relative;
		margin: 65px auto 0 auto;
		max-width: 290px;
	}
	h2 {
		margin: -1.626667rem 0 -0.576rem 0;
	}
	.__btn-tq {
		font-size: 16px !important;
		min-width: 32px !important;
		min-height: 16px !important;
	}
	.logoCloud {
		top: -47%;
		left: 14%;
		min-height: 197px;
		min-width: 200px;
	}

	.secondRowText {
		display: none;
	}
}

@media only screen and (max-width: 335px) {
	.logoCloud {
		left: 21%;
	}
	.insidetext {
		position: relative;
		margin: 65px auto 0 auto;
		/* max-width: 300px; */
		max-width: 225px;
	}
}

.err4s {
	color: #9e0004;
}

.__btn-tq {
	float: left;
	margin-top: 15px;
	font-family: 'Nunito', sans-serif;
	text-transform: none;
	box-shadow: 0px 4.5px rgb(88, 0, 3);
	border-radius: 1000px;
	background-color: #9e0004 !important;
	color: #fff;
	min-width: 115px;
	min-height: 55px;
	border: 0;
	font-size: 22.5px;
	transition: ease-in-out 0.22s;
}

.__btn-tq > i {
	font-size: 1.1em;
}

.__btn-tq:hover {
	background-color: #fff !important;
	color: rgb(88, 0, 3);
	transition: ease-in 0.22s;
}
