.inputs-registro {
	width: 320px;
}

.group > label {
	padding-left: 21px;
}

.input {
	background: var(--tq-gray-02);
	width: 93%;
	height: 47px;
	border-radius: 20px;
	margin-bottom: 14px;
	padding: 18px;
	color: #fff;
	font: normal normal bold 20px/26px Nunito;
}

.input-pwd{
    margin-bottom: 0 !important;
}

.input:hover {
	opacity: 1;
	background: var(--tq-gray-03);
}

.err-msg{
    padding-left: 11px;
    font-size: 13px;
    max-width: 90%;
    flex-wrap: nowrap;
    display: inline-flex;
    overflow-wrap: anywhere;
    color: var(--tq-red-01);
}

.btns-container {
	width: 95%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.btns-container > button{
    display: flex;
	justify-content: center;
	align-items: center;
    max-width: 137px;
    width: 45%;
    height: 42px;
    color: #fff;
    overflow: hidden;
    position: relative;
    border-radius: 25px;
	transition: transform 100ms, background 150ms, opacity 150ms;
	font: normal normal bold 18px/26px Nunito;
}

.btn-cancel {
	background: var(--tq-red-03);
}

.btn-cancel > span:nth-child(1) {
	display: block;
	transition: transform 150ms ease-out;
}

.btn-cancel > img {
	position: absolute;
	transition: transform 150ms ease-out, opacity 200ms;
	opacity: 0;
	width: 22px;
}

.btn-cancel:hover > span:nth-child(1) {
	transform: translateX(120px);
}

.btn-cancel:hover > img {
	transform: translateX(0);
	opacity: 1;
}

.btn-login {
	background: var(--tq-blue-01);
}

.btn-login > span:nth-child(1) {
	display: block;
	transition: transform 150ms ease-out;
}

.btn-login > img {
	position: absolute;
	transition: transform 150ms ease-out, opacity 200ms;
	opacity: 0;
}

.btn-login:hover > span:nth-child(1) {
	transform: translateX(130px);
}

.btn-login:hover > img {
	transform: translateX(0);
	opacity: 1;
}

@media (max-width: 600px){
    .inputs-registro{
        height: 178px;
        width: 100%;
    }
    
    .input{
        width: 100%;
    }

    .btns-container{
        width: 100%;
        justify-content: space-around;
    }
}

@media (max-width: 390px){
    .btns-container{
        justify-content: space-between;
    }
}