.inputs-registro {
	width: 320px;
}

.inputs-registro > label {
	padding-left: 21px;
}

.input {
	background: var(--tq-gray-02);
	width: 93%;
	height: 47px;
	border-radius: 20px;
	margin-bottom: 14px;
	transition: 200ms;
	padding: 18px;
	color: #fff;
	font: normal normal bold 20px/26px Nunito;
}

.input-pwd{
    margin-bottom: 7px !important;
}

.input:hover {
	opacity: 1;
	background: var(--tq-gray-03);
}

.err-msg{
    padding-left: 11px;
    font-size: 13px;
    max-width: 90%;
    flex-wrap: nowrap;
    display: inline-flex;
    overflow-wrap: anywhere;
    color: var(--tq-red-01);
}

.btns-container {
	width: 95%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.btn-cancel {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--tq-red-03);
	width: 45%;
	height: 42px;
	color: #fff;
	border-radius: 25px;
	transition: transform 100ms, background 150ms, opacity 150ms;
	font: normal normal bold 20px/26px Nunito;
	overflow: hidden;
	position: relative;
}

.btn-cancel > span:nth-child(1) {
	display: block;
	transition: transform 150ms ease-out;
}

.btn-cancel > img {
	position: absolute;
	transition: transform 150ms ease-out, opacity 200ms;
	opacity: 0;
	width: 22px;
}

.btn-cancel:hover > span:nth-child(1) {
	transform: translateX(120px);
}

.btn-cancel:hover > img {
	transform: translateX(0);
	opacity: 1;
}

.btn-login {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--tq-blue-01);
	width: 45%;
	color: #fff;
	height: 42px;
	border-radius: 25px;
	transition: transform 100ms, background 150ms, opacity 150ms;
	font: normal normal bold 18px/26px Nunito;
	overflow: hidden;
	position: relative;
}

.btn-login > span:nth-child(1) {
	display: block;
	transition: transform 150ms ease-out;
}

.btn-login > img {
	position: absolute;
	transition: transform 150ms ease-out, opacity 200ms;
	opacity: 0;
}

.btn-login:hover > span:nth-child(1) {
	transform: translateX(130px);
}

.btn-login:hover > img {
	transform: translateX(0);
	opacity: 1;
}