
<link rel="stylesheet" href="/bintqcss/error404.css" />
<div class="contenedor">
    <div>
        <img class="responsive-image" src="/img/logo.png" alt="img" draggable="false" />
        <div id='lotetodeadentroa'>
            <h2>Ooops... Error <span class="err4s">4</span><span style="color:#00909E">0</span><span class="err4s">4</span></h2>
            <span id="firstRowText">Lo sentimos. La p&aacute;gina que intentaste buscar no existe.</span>
            <span id="secondRowText">Por favor verifique la direcci&oacute;n introducida e intentelo de nuevo.</span>   
            <br>
            <a href="/">
                <button href="/" class="btn _btn-tq">
                    Inicio
                    <i class="material-icons right" style="margin-left:3px">home</i>
                </button>
            </a>
        </div>
    </div>
</div>
