.answer-editor {
	display: flex;
	align-items: flex-end;
	background: var(--tq-dark-gray-02);
	width: 226px;
	height: 425px;
	margin-top: 10px;
	border-radius: 25px;
	overflow: hidden;
}

.answer-editor-container {
	display: grid;
	grid-template-rows: minmax(51%, 63%) 34%;
	height: 90%;
	position: relative;
}

.answer-editor-container > div:nth-child(1) {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.text-editor-container {
	display: flex;
	width: 100%;
	justify-content: center;
	flex-direction: column;
}

.answer-btns-format-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0 16px;
	width: 100%;
}

.answer-btns-format-container > button,
.answer-btns-format > button {
	cursor: pointer;
	background-color: transparent;
	color: var(--tq-gray-00);
}

.answer-btns-format > button > img {
	pointer-events: none;
}

.answer-btns-format-container > button:hover,
.answer-btns-format > button:hover {
	color: var(--tq-gray-02) !important;
}

.answer-btns-format {
	display: flex;
	width: 53%;
	justify-content: space-around;
}

.editorelement {
	height: 14px;
}

.editoremoji {
	height: 21px;
	width: 35px;
	margin: -1px;
}

.input-answer-container {
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
}

.input-answer-inner-container {
	display: flex;
	align-items: center;
	max-width: 212.44px !important;
	min-width: 94% !important;
	font-size: 14px !important;
}

.input-answer-inner-container > div {
	display: flex;
	box-sizing: border-box;
	flex: 1 1 auto;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	min-height: 150px;
	color: #fff;
	border: none !important;
	background-color: var(--tq-gray-00) !important;
	border-radius: 21px !important;
	padding: 4px 14px !important;
	max-width: 212.44px !important;
	min-width: 94% !important;
	outline: none;
	overflow-x: hidden;
	overflow-y: auto;
}

.input-answer-inner-container > div:hover,
.input-answer-inner-container > div:focus {
	background-color: var(--tq-gray-01) !important;
}

.input-answer {
	min-width: 0;
	min-height: 0;
	font-size: 14px !important;
	background: transparent;
	width: 99%;
	padding: 5px 3px 5px 0;
	min-height: 30px;
	max-height: 130px;
	overflow: auto;
	overflow-wrap: break-word;
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
}

.input-answer * {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.input-answer-placeholder {
	color: var(--tq-input-placeholder);
	font-size: 15px;
	line-height: 20px;
	pointer-events: none;
	position: absolute;
	top: calc(20 / 2);
	left: 21px;
	transition: opacity 0.08s linear;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.answer-options-container {
	display: flex;
	align-self: flex-end;
	max-height: fit-content;
	margin: 0px 2px -12px 2px;
	width: 98%;
	overflow-y: hidden;
	z-index: 3;
	background: var(--tq-bg-00);
	border-radius: 29px 29px 10px 10px;
}

.answer-options {
	display: flex;
	margin: 0px 15px 6px 15px;
	overflow-x: auto;
	overflow-y: hidden;
	background: var(--tq-bg-00);
	border-radius: 38px;
}

.answer-options > button {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	min-height: 55px;
	min-width: 55px;
	border-radius: 35px;
	margin: 0 5px 9.5px 5px;
	background: var(--tq-dark-gray-02);
	color: #fff;
	padding: 10px;
	z-index: 1;
}

.answer-options > button.active {
	background: var(--tq-gray-00);
}

.answer-options > button > img {
	width: 100%;
	transition: transform 200ms;
}

.answer-options > button:hover > img {
	transform: scale(1.09);
}

.answer-options > button > * {
	pointer-events: none;
}

.answer-opts-menu {
	position: absolute;
	top: 84%;
	width: 98%;
	margin: 0 2px;
	height: 100%;
	background: var(--tq-dark-gray-02);
	z-index: 0;
	transform: translateY(100%);
	transition: transform 300ms;
	overflow: hidden;
}

.opts-swipe_actv {
	z-index: 2;
	transition: transform 300ms;
	transform: translateY(-100%);
}

.answer-opts-menu.anim-tool-toggle {
	animation: contToggleOpt 400ms;
}

@keyframes contToggleOpt {
	0% {
		transform: translateY(6%);
	}
	100% {
		transform: translateY(3%);
	}
}

.answer-opts-menu > div {
	opacity: 0;
	display: none;
	overflow: hidden;
}

.answer-opts-menu > div.toggle-opt-anim {
	animation: toggleOpt 0.2s;
	display: flex;
	justify-content: center;
	opacity: 1;
	height: 80%;
}

@keyframes toggleOpt {
	0% {
		opacity: 0;
	}
	1% {
		display: flex;
		justify-content: center;
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 490px) {
	.answer-editor-container {
		display: grid;
		grid-template-rows: 100%;
		height: 100%;
		width: 100%;
	}

	.answer-editor {
		display: flex;
		background: transparent;
		height: 71px;
		width: 100%;
		border-radius: 0;
		height: 100%;
	}

	.answer-editor-container > div:nth-child(1) {
		display: none;
	}

	.answer-options-container {
		width: 100%;
		margin: 0;
		border-radius: 20px 20px 0 0;
		height: 90px;
		align-items: center;
		justify-content: center;
	}

	.answer-options {
		margin: 0 15px;
	}

	.answer-options > button {
		max-height: 55px;
		max-width: 55px;
	}

	:global .emoji-mart {
		display: none !important;
	}

	.answer-opts-menu {
		top: 0;
		border-radius: 30px;
		width: 100%;
		margin: 0;
		height: 90%;
	}

	.opts-swipe_actv {
		transform: translateY(3%);
	}

	.opt-stick-container {
		display: block;
		width: fit-content;
		height: 20px;
		position: absolute;
		left: calc(50% - 25px);
		cursor: pointer;
	}

	.opt-stick {
		display: inline-block;
		width: 50px;
		height: 5px;
		background: var(--tq-gray-00);
		border-radius: 20px;
	}

	.text-editor-container {
		max-width: 272px;
	}

	.input-answer-inner-container > div {
		min-width: 100% !important;
		background-color: #fff !important;
		color: rgb(74, 74, 74);
	}

	.input-answer-inner-container > div:hover,
	.input-answer-inner-container > div:focus {
		background-color: #fff !important;
	}
}

/* Emoji Mart */

:global {
	.emoji-mart-scroll {
		height: 160px !important;
	}

	.emoji-mart {
		z-index: 35;
	}

	.emoji-mart-emoji > span {
		display: flex !important;
		align-items: center;
		justify-content: center;
	}

	.emoji-mart,
	.emoji-mart * {
		box-sizing: border-box;
		line-height: 1.15;
	}

	.emoji-mart {
		font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
			sans-serif;
		font-size: 16px;
		display: inline-block;
		color: #222427;
		border: 1px solid #d9d9d9;
		border-radius: 5px;
		background: #fff;
	}

	.emoji-mart .emoji-mart-emoji {
		padding: 6px;
	}

	.emoji-mart-bar {
		border: 0 solid #d9d9d9;
	}

	.emoji-mart-bar:first-child {
		border-bottom-width: 1px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	.emoji-mart-bar:last-child {
		border-top-width: 1px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	.emoji-mart-anchors {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 6px;
		line-height: 0;
	}

	.emoji-mart-anchor {
		position: relative;
		display: block;
		flex: 1 1 auto;
		color: #858585;
		text-align: center;
		padding: 12px 4px;
		overflow: hidden;
		transition: color 0.1s ease-out;
		margin: 0;
		box-shadow: none;
		background: none;
		border: none;
	}

	.emoji-mart-anchor:focus {
		outline: 0;
	}

	.emoji-mart-anchor:hover,
	.emoji-mart-anchor:focus,
	.emoji-mart-anchor-selected {
		color: #464646;
	}

	.emoji-mart-anchor-selected .emoji-mart-anchor-bar {
		bottom: 0;
	}

	.emoji-mart-anchor-bar {
		position: absolute;
		bottom: -3px;
		left: 0;
		width: 100%;
		height: 3px;
		background-color: #464646;
	}

	.emoji-mart-anchors i {
		display: inline-block;
		width: 100%;
		max-width: 22px;
	}

	.emoji-mart-anchors svg,
	.emoji-mart-anchors img {
		fill: currentColor;
		height: 18px;
		width: 18px;
	}

	.emoji-mart-scroll {
		overflow-y: scroll;
		overflow-x: hidden;
		height: 270px;
		padding: 0 6px 6px 6px;
		will-change: transform;
		/* avoids "repaints on scroll" in mobile Chrome */
	}

	.emoji-mart-search {
		margin-top: 6px;
		padding: 0 6px;
		position: relative;
	}

	.emoji-mart-search input {
		font-size: 16px;
		display: block;
		width: 100%;
		padding: 5px 25px 6px 10px;
		border-radius: 5px;
		border: 1px solid #d9d9d9;
		outline: 0;
	}

	.emoji-mart-search input,
	.emoji-mart-search input::-webkit-search-decoration,
	.emoji-mart-search input::-webkit-search-cancel-button,
	.emoji-mart-search input::-webkit-search-results-button,
	.emoji-mart-search input::-webkit-search-results-decoration {
		/* remove webkit/blink styles for <input type="search">
    * via https://stackoverflow.com/a/9422689 */
		-webkit-appearance: none;
	}

	.emoji-mart-search-icon {
		position: absolute;
		top: 7px;
		right: 11px;
		z-index: 2;
		padding: 2px 5px 1px;
		border: none;
		background: none;
	}

	.emoji-mart-category .emoji-mart-emoji span {
		z-index: 1;
		position: relative;
		text-align: center;
		cursor: default;
	}

	.emoji-mart-category .emoji-mart-emoji:hover:before {
		z-index: 0;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #f4f4f4;
		border-radius: 100%;
	}

	.emoji-mart-category-label {
		z-index: 2;
		position: relative;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
	}

	.emoji-mart-category-label span {
		display: block;
		width: 100%;
		font-weight: 500;
		padding: 5px 6px;
		background-color: #fff;
		background-color: rgba(255, 255, 255, 0.95);
	}

	.emoji-mart-category-list {
		margin: 0;
		padding: 0;
	}

	.emoji-mart-category-list li {
		list-style: none;
		margin: 0;
		padding: 0;
		display: inline-block;
	}

	.emoji-mart-emoji {
		position: relative;
		display: inline-block;
		font-size: 0;
		margin: 0;
		padding: 0;
		border: none;
		background: none;
		box-shadow: none;
	}

	.emoji-mart-emoji-native {
		font-family: 'Segoe UI Emoji', 'Segoe UI Symbol', 'Segoe UI',
			'Apple Color Emoji', 'Twemoji Mozilla', 'Noto Color Emoji',
			'Android Emoji';
	}

	.emoji-mart-no-results {
		font-size: 14px;
		text-align: center;
		padding-top: 70px;
		color: #858585;
	}

	.emoji-mart-no-results-img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}

	.emoji-mart-no-results .emoji-mart-category-label {
		display: none;
	}

	.emoji-mart-no-results .emoji-mart-no-results-label {
		margin-top: 0.2em;
	}

	.emoji-mart-no-results .emoji-mart-emoji:hover:before {
		content: none;
	}

	.emoji-mart-preview {
		position: relative;
		height: 70px;
	}

	.emoji-mart-preview-emoji,
	.emoji-mart-preview-data,
	.emoji-mart-preview-skins {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	.emoji-mart-preview-emoji {
		left: 12px;
	}

	.emoji-mart-preview-data {
		left: 68px;
		right: 12px;
		word-break: break-all;
	}

	.emoji-mart-preview-skins {
		right: 30px;
		text-align: right;
	}

	.emoji-mart-preview-skins.custom {
		right: 10px;
		text-align: right;
	}

	.emoji-mart-preview-name {
		font-size: 14px;
	}

	.emoji-mart-preview-shortname {
		font-size: 12px;
		color: #888;
	}

	.emoji-mart-preview-shortname + .emoji-mart-preview-shortname,
	.emoji-mart-preview-shortname + .emoji-mart-preview-emoticon,
	.emoji-mart-preview-emoticon + .emoji-mart-preview-emoticon {
		margin-left: 0.5em;
	}

	.emoji-mart-preview-emoticon {
		font-size: 11px;
		color: #bbb;
	}

	.emoji-mart-title span {
		display: inline-block;
		vertical-align: middle;
	}

	.emoji-mart-title .emoji-mart-emoji {
		padding: 0;
	}

	.emoji-mart-title-label {
		color: #999a9c;
		font-size: 26px;
		font-weight: 300;
	}

	.emoji-mart-skin-swatches {
		font-size: 0;
		padding: 2px 0;
		border: 1px solid #d9d9d9;
		border-radius: 12px;
		background-color: #fff;
	}

	.emoji-mart-skin-swatches.custom {
		font-size: 0;
		border: none;
		background-color: #fff;
	}

	.emoji-mart-skin-swatches.opened .emoji-mart-skin-swatch {
		width: 16px;
		padding: 0 2px;
	}

	.emoji-mart-skin-swatches.opened .emoji-mart-skin-swatch.selected:after {
		opacity: 0.75;
	}

	.emoji-mart-skin-swatch {
		display: inline-block;
		width: 0;
		vertical-align: middle;
		transition-property: width, padding;
		transition-duration: 0.125s;
		transition-timing-function: ease-out;
	}

	.emoji-mart-skin-swatch:nth-child(1) {
		transition-delay: 0s;
	}

	.emoji-mart-skin-swatch:nth-child(2) {
		transition-delay: 0.03s;
	}

	.emoji-mart-skin-swatch:nth-child(3) {
		transition-delay: 0.06s;
	}

	.emoji-mart-skin-swatch:nth-child(4) {
		transition-delay: 0.09s;
	}

	.emoji-mart-skin-swatch:nth-child(5) {
		transition-delay: 0.12s;
	}

	.emoji-mart-skin-swatch:nth-child(6) {
		transition-delay: 0.15s;
	}

	.emoji-mart-skin-swatch.selected {
		position: relative;
		width: 16px;
		padding: 0 2px;
	}

	.emoji-mart-skin-swatch.selected:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 4px;
		height: 4px;
		margin: -2px 0 0 -2px;
		background-color: #fff;
		border-radius: 100%;
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.2s ease-out;
	}

	.emoji-mart-skin-swatch.custom {
		display: inline-block;
		width: 0;
		height: 38px;
		overflow: hidden;
		vertical-align: middle;
		transition-property: width, height;
		transition-duration: 0.125s;
		transition-timing-function: ease-out;
		cursor: default;
	}

	.emoji-mart-skin-swatch.custom.selected {
		position: relative;
		width: 36px;
		height: 38px;
		padding: 0 2px 0 0;
	}

	.emoji-mart-skin-swatch.custom.selected:after {
		content: '';
		width: 0;
		height: 0;
	}

	.emoji-mart-skin-swatches.custom .emoji-mart-skin-swatch.custom:hover {
		background-color: #f4f4f4;
		border-radius: 10%;
	}

	.emoji-mart-skin-swatches.custom.opened .emoji-mart-skin-swatch.custom {
		width: 36px;
		height: 38px;
		padding: 0 2px 0 0;
	}

	.emoji-mart-skin-swatches.custom.opened
		.emoji-mart-skin-swatch.custom.selected:after {
		opacity: 0.75;
	}

	.emoji-mart-skin-text.opened {
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		color: #888;
		font-size: 11px;
		padding: 5px 2px;
		width: 95px;
		height: 40px;
		border-radius: 10%;
		background-color: #fff;
	}

	.emoji-mart-skin {
		display: inline-block;
		width: 100%;
		padding-top: 100%;
		max-width: 12px;
		border-radius: 100%;
	}

	.emoji-mart-skin-tone-1 {
		background-color: #ffc93a;
	}

	.emoji-mart-skin-tone-2 {
		background-color: #fadcbc;
	}

	.emoji-mart-skin-tone-3 {
		background-color: #e0bb95;
	}

	.emoji-mart-skin-tone-4 {
		background-color: #bf8f68;
	}

	.emoji-mart-skin-tone-5 {
		background-color: #9b643d;
	}

	.emoji-mart-skin-tone-6 {
		background-color: #594539;
	}

	/* For screenreaders only, via https://stackoverflow.com/a/19758620 */

	.emoji-mart-sr-only {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}

	/*
    * Dark mode styles
    */

	.emoji-mart-dark {
		color: #fff;
		border-color: #555453;
		background-color: #222;
	}

	.emoji-mart-dark .emoji-mart-bar {
		border-color: #555453;
	}

	.emoji-mart-dark .emoji-mart-search input {
		color: #fff;
		border-color: #555453;
		background-color: #2f2f2f;
	}

	.emoji-mart-dark .emoji-mart-search-icon svg {
		fill: #fff;
	}

	.emoji-mart-dark .emoji-mart-category .emoji-mart-emoji:hover:before {
		background-color: #444;
	}

	.emoji-mart-dark .emoji-mart-category-label span {
		background-color: #222;
		color: #fff;
	}

	.emoji-mart-dark .emoji-mart-skin-swatches {
		border-color: #555453;
		background-color: #222;
	}

	.emoji-mart-dark .emoji-mart-anchor:hover,
	.emoji-mart-dark .emoji-mart-anchor:focus,
	.emoji-mart-dark .emoji-mart-anchor-selected {
		color: #bfbfbf;
	}
}
