.main-container {
	display: flex;
	align-items: center;
	min-height: 100vh;
}

.inbox-container {
	display: flex;
	flex-direction: column;
	min-width: 100%;
	min-height: 90vh !important;
}

.inbox-title {
	display: inline-flex;
	color: var(--tq-red-00);
	margin: 25px 13px;
	align-items: center;
	justify-content: center;
}

.inbox-title > h4 {
	padding-left: 25px;
	font-weight: 600;
	font-size: 2.8em;
	font-family: 'Nunito', sans-serif;
}

.inbox-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--tq-red-00);
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border: 0px solid #000000;
	width: 52px;
	height: 51px;
}

.inbox-icon > img {
	height: 35px;
	width: 32px;
}

.inbox-tabs-container {
	display: flex;
	justify-content: center;
	margin-bottom: 3px;
}

.inbox-tabs-container > button{
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font: normal normal bold 20px Nunito;
    height: 40.9px;
    width: 35%;
}

.inbox-tab-msgs:focus,
.ans-tab:focus {
	background: var(--tq-red-02);
}

.inbox-tab-msgs:hover,
.ans-tab:hover {
    background: var(--tq-red-00);
}

.ans-tab {
    margin-left: 3px;
    color: #fff;
    cursor: pointer;
    border-radius: 0;
    letter-spacing: 0px;
    background: var(--tq-bg-00);
}

.selected-tab {
    display: flex !important;
    background: var(--tq-red-03)!important;
}

.inbox-tab-msgs {
    letter-spacing: 0px;
    margin: 0;
    color: #fff;
    cursor: pointer;
    border-radius: 0;
    background: var(--tq-bg-00);
}

.inbox-tab-msgs.no-msgs,
.new-msgs-number.no-msgs {
	display: none;
	cursor: default;
}

.inbox-tab-msgs.not-answered-msgs {
	width: 100% !important;
	border-radius: 12px !important;
}

.new-msgs-number {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    color: var(--tq-red-02);
    padding: 1px 4px;
    font-size: 12px;
    width: 20px;
    height: 20px;
}

.inbox-msgs-container,
.answered-msgs-container,
.inbox-msgs-container > div:first-child {
	display: flex;
	min-width: 100%;
	max-height: 67vh;
}

._info-no-msgs {
	display: flex;
	width: 100%;
	font-family: 'Nunito', sans-serif;
	color: #1b1b1b;
	font-size: 1.5em;
	justify-content: center;
}

.inbox-msg:first-child{
    margin-top: 0;
}

.inbox-msg {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #3b3b3b;
	text-overflow: ellipsis;
	color: #fff;
	margin-top: 5px;
	min-height: 47px;
    font-weight: 700;
    width: 100%;
    padding: 14px;
	cursor: pointer;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 0px solid #000000;
}

.inbox-msg:nth-last-child(1) {
	margin-bottom: 0 !important;
}

.inbox-msg > li {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	list-style: none;
}

@media only screen and (min-width: 600px) {
	.main-container {
		justify-content: center;
	}
	.inbox-container {
		max-width: 383px;
		min-width: initial;
		width: 100%;
		background: transparent;
	}
	.inbox-msgs-container,
	.answered-msgs-container {
		min-width: 100%;
		max-height: 46vh;
	}
	.inbox-tab-msgs {
		border-radius: 20px 0 0 20px;
	}
	.ans-tab {
		border-radius: 0 20px 20px 0;
	}
	.inbox-tab {
		margin-bottom: 3px;
	}
}

/* SB */
:global [data-simplebar] {
	position: relative;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	width: 100%;
}

:global .simplebar-wrapper {
	overflow: hidden;
	width: inherit;
	height: inherit;
	max-width: inherit;
	max-height: inherit;
}

:global .simplebar-mask {
	direction: inherit;
	position: absolute;
	overflow: hidden;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: auto !important;
	height: auto !important;
	z-index: 0;
}

:global .simplebar-offset {
	direction: inherit !important;
	box-sizing: inherit !important;
	resize: none !important;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 0;
	margin: 0;
    -webkit-overflow-scrolling: touch;
    border-radius: 60px;
    background: var(--tq-bg-00);
    padding: 21px 23px;
}

:global .simplebar-content{
    min-height: 30%;
}

:global .simplebar-content-wrapper {
	direction: inherit;
	box-sizing: border-box !important;
	position: relative;
	display: block;
	height: 100%;
	width: auto;
	max-width: 100%;
	max-height: 100%;
	scrollbar-width: none;
    -ms-overflow-style: none;
    border-radius: 22px;
}

:global .simplebar-content-wrapper::-webkit-scrollbar,
:global .simplebar-hide-scrollbar::-webkit-scrollbar {
	width: 0;
	height: 0;
}

:global .simplebar-content:before,
:global .simplebar-content:after {
	content: ' ';
	display: table;
}

:global .simplebar-placeholder {
	max-height: 100%;
	max-width: 100%;
	width: 100%;
	pointer-events: none;
}

:global .simplebar-height-auto-observer-wrapper {
	box-sizing: inherit !important;
	height: 100%;
	width: 100%;
	max-width: 1px;
	position: relative;
	float: left;
	max-height: 1px;
	overflow: hidden;
	z-index: -1;
	padding: 0;
	margin: 0;
	pointer-events: none;
	flex-grow: inherit;
	flex-shrink: 0;
	flex-basis: 0;
}

:global .simplebar-height-auto-observer {
	box-sizing: inherit;
	display: block;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 1000%;
	width: 1000%;
	min-height: 1px;
	min-width: 1px;
	overflow: hidden;
	pointer-events: none;
	z-index: -1;
}

:global .simplebar-track {
	z-index: 1;
	position: absolute;
	right: 0;
	bottom: 0;
	pointer-events: none;
	overflow: hidden;
}

:global [data-simplebar].simplebar-dragging :global .simplebar-content {
	pointer-events: none;
	user-select: none;
	-webkit-user-select: none;
}

:global [data-simplebar].simplebar-dragging :global .simplebar-track {
	pointer-events: all;
}

:global .simplebar-scrollbar {
	position: absolute;
	left: 0;
	right: 0;
	min-height: 10px;
}

:global .simplebar-scrollbar:before {
	position: absolute;
	content: '';
	background: transparent;
	border-radius: 7px;
	left: 2px;
	right: 2px;
	opacity: 0;
	transition: opacity 0.2s linear;
}

:global .simplebar-scrollbar.simplebar-visible:before {
	/* When hovered, remove all transitions from drag handle */
	opacity: 0.5;
	transition: opacity 0s linear;
}

:global .simplebar-track.simplebar-vertical {
	top: 0;
	width: 11px;
}

:global
	.simplebar-track.simplebar-vertical
	:global
	.simplebar-scrollbar:before {
	top: 2px;
	bottom: 2px;
}

:global .simplebar-track.simplebar-horizontal {
	left: 0;
	height: 11px;
}

:global
	.simplebar-track.simplebar-horizontal
	:global
	.simplebar-scrollbar:before {
	height: 100%;
	left: 2px;
	right: 2px;
}

:global .simplebar-track.simplebar-horizontal :global .simplebar-scrollbar {
	right: auto;
	left: 0;
	top: 2px;
	height: 7px;
	min-height: 0;
	min-width: 10px;
	width: auto;
}

/* Rtl support */

:global
	[data-simplebar-direction='rtl']
	:global
	.simplebar-track.simplebar-vertical {
	right: auto;
	left: 0;
}

:global .hs-dummy-scrollbar-size {
	direction: rtl;
	position: fixed;
	opacity: 0;
	visibility: hidden;
	height: 500px;
	width: 500px;
	overflow-y: hidden;
	overflow-x: scroll;
}

:global .simplebar-hide-scrollbar {
	position: fixed;
	left: 0;
	visibility: hidden;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
