.overlay {
	position: fixed;
	top: 0;
	left: 0;
	min-height: 0;
	min-width: 100vw;
    z-index: -90;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateZ(0);
    transition: height 200ms, opacity 200ms;
}

.overlay.active{
    z-index: 15;
	min-height: 100vh;
    opacity: 1;
}

.container-menu,
.sidebar {
	height: 100%;
    max-height: 0.001vh;
}

.container-menu {
	position: fixed;
    left: 0;
    transition: opacity 2s linear;
    z-index: 16;
    width: 100%;
}

.container-menu > div:nth-child(2) {
    z-index: 16;
    margin-top: 20px;
}

.btn-menu {
	background: transparent;
	outline: none;
	border: none;
	transition: transform 600ms cubic-bezier(0.77, 0, 0.175, 1);
}

.container-menu,
.btn-menu {
	display: flex;
	justify-content: flex-end;
}

.btn-menu > img {
	user-select: none;
	-webkit-user-drag: none;
}

.btn-menu > img:nth-child(1) {
	max-width: 25px;
	max-height: 25px;
	margin: 11px -20.8px 0 0;
	cursor: pointer;
	transition: transform 500ms;
}

.btn-menu > img:nth-child(2) {
	max-width: 83px;
	max-height: 83px;
	cursor: pointer;
	transition: transform 600ms;
}

.btn-menu.active {
	transform: translateX(-150px);
}

.btn-menu:hover > img:nth-child(2) {
	transform: scale(1.1);
}

.btn-menu.active > img:nth-child(1) {
	transform: translateX(64px) rotate(180deg);
}

.btn-menu.active > img:nth-child(2) {
	animation: rot 800ms;
}

@keyframes rot {
	0% {
		transform: rotate(-15deg);
	}
	100% {
		transform: rotate(0);
	}
}

.btn-menu:focus,
.btn-menu > img:nth-child(2):active {
	transition: transform 400ms ease-out;
}

.sidebar {
    position: fixed;
    top: 0;
	background: white;
    max-height: 100vh;
    min-height: 496px;
	width: 255px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	border-radius: 21px 0px 0px 100px;
    opacity: 0;
    transform: translateX(65%);
	transition: opacity 250ms, transform 250ms;
	z-index: -1;
}

.sidebar.active {
	transform: translateX(-88%) !important;
	opacity: 1 !important;
}

.sidebar > div {
	display: grid;
    grid-template-rows: 2.3fr repeat(3, 1fr) 5fr;
	max-width: 100%;
	height: 100%;
}

.sidebar-title,
.sidebar-button,
.btn-terms{
    font-family: 'Nunito', sans-serif;
}
.sidebar-button,
.btn-terms{
    cursor: pointer;
}


.sidebar-title {
    position: relative;
	display: flex;
	color: var(--tq-red-03);
	justify-content: center;
	align-items: center;
    padding-left: 80px;
	font-size: 1.8rem;
}

.sidebar-title>h1{
    position: absolute;
    top: 22px;
}

.btn-container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.btn-container>a{
	text-decoration: none;
	display: contents;
}

.sidebar-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
	background-color: transparent;
	border-radius: 200px 0px 0px 200px;
	-moz-border-radius: 200px 0px 0px 200px;
    -webkit-border-radius: 200px 0px 0px 200px;
    transition: background 250ms;
    height: 100%;
    width: 100%;
    color: var(--tq-red-01);
    font-size: 1.7em;
}

.sidebar-button>span{
    width: 60%;
    text-align: center;
    font-size: 30px;
}

.sidebar-button>img{
	transition: transform 170ms;
	width: 36px;
}


.sidebar-button:hover {
    background: rgba(78, 78, 78, .16);
}

.sidebar-button:active {
    background: rgba(78, 78, 78, .3);
}

.sidebar-button:hover>img{
    transform: scale(1.1);
}

.sidebar-button:hover>i{
	transform: scale(1.1);
	transition: transform 170ms;
}

.footer-container {
	width: 252px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
}

.sbmeek-container{
    height: 70% !important;
    width: 100%;
}

.sbmeek{
    width: 100%;
    height: 30%;
    background: transparent !important;
    cursor: default;
}

.sbmeek>img{
    filter: drop-shadow(0px 0px 1px black);
    transform: scale(1) !important;
}

.btn-terms {
	width: 100%;
	height: 114px;
	border-radius: 50px 0px 0px 265px;
    background: var(--tq-red-03) 0% 0% no-repeat padding-box;
    color: #fff;
    font-size: 1.8em;
}