.slider{
    display: flex;
    align-items: center;
  overflow: hidden;
    width: 100%;
    height: 46vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.slide{
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-width: 100%;
    height: 55vh;
    transition: 0.5s;
    background: #000000b3;
}
.goleft{
    position: absolute;
    top: 25%;
    left: 0;
    transform: translateY(-50%);
    width: 5%;
    height: 30vh;
    background: none;
    color: white;
}
.goright{
    position: absolute;
    top: 25%;
   right: 0;
    transform: translateY(-50%);
    width: 5%;
    height: 30vh;
    background: none;
    color: white;
}
.slideimage{
    width: 40%
}