.slider{
    display: flex;
    align-items: center;
  overflow: hidden;
    width: 100%;
    height: 46vh;
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 40px;
}
.slide{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    height: 55vh;
    transition: 0.5s;
    background: #000000b3;
}
.goleft{
    position: absolute;
    top: 25%;
    left: 0;
    transform: translateY(-50%);
    width: 5%;
    height: 30vh;
    background: none;
    color: white;
}
.goright{
    position: absolute;
    top: 25%;
   right: 0;
    transform: translateY(-50%);
    width: 5%;
    height: 30vh;
    background: none;
    color: white;
}
.slideimage{
   height: 46vh;
}
@media only screen and (max-width:445px){
    .slideimage{
        max-width: 100%;
        height: 45vh;

    }
    .slide{
        align-items: start;
        height: 47vh;
        background: none;

    }
    
}
@media only screen and (max-width:336px){
.slideimage{
    height: 35vh;
}
.slider{
       
    margin-bottom: 0px;
}
}