body {
	display: flex;
	flex-direction: column;
}

@font-face {
	font-family: Nunito;
	src: url(../../assets/fonts/Nunito-ExtraBold.ttf);
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
    min-height: 100vh;
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 250px;
	min-height: 360px;
    height: 74vh;
    z-index: 2;
}

.main-elements-container{
	display: flex;
	justify-content: center;
    width: 100%;
    z-index: -2;
}

._tq-logo {
	max-width: 500px;
	max-height: 400px;
    width: 100%;
    margin-bottom: 25px;
}

.wrapper {
	position: relative;
	width: 75%;
}

.field-tq {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 300px;
	width: 70%;
}

.field-tq>div{
	max-width: 100%;
}

.field-tq>div:nth-child(1){
	display: flex;
    position: relative;
    width: 100%;
    color: #03666d;
    border: 5.9px solid #018b9a;
    background: #00b2c2;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 42px;
    border-radius: 30px;
    transition: background 100ms ease-in, border 100ms ease-in;
    box-sizing: border-box;
    padding: 0 !important;
}

.field-tq>div:nth-child(1):hover{
	border: 5.9px solid #03a5b7;
    background: #0ccfe0;
}

.field-tq>div:nth-child(1).input-mode{
	border: 5.9px solid #3defff !important;
	background: #03c9db !important;
}

.main-input{
	padding: 3px 10px;
	color: #03666d;
	background: transparent;
	border-radius: 30px;
	min-height: 100%;
	min-width: 100%;
	max-height: 42px;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	line-height: 27px;;
	text-align: center;
    resize: none !important;
}

.main-input::-moz-placeholder
.main-input:-moz-placeholder,
.main-input:-ms-input-placeholder{
	display: flex;
	align-items: center;
	color: #03666d !important;
}

.main-input::placeholder{
	color: #03666d !important;
}

.main-input br {
	display: none;
}

.input-mode {
	color: #fff;
	font-size: 1.1rem;
	outline: none;
	line-height: 1.5em !important;
	text-align: left !important;
    cursor: text !important;
}

.main-btn{
	position: absolute;
    background: #018b9a;
    color: #fff;
    min-height: 100%;
    min-width: 114%;
    border-radius: 30px;
    padding: 0 7px;
    left: -3%;
    top: -5px;
    height: 41px;
    z-index: -1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
	box-shadow: 0px 5.4px #01636d;
    cursor: pointer;
}

.field-tq>div:nth-child(2) {
	margin-top: 15px;
	max-width: 302px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

._btn-tq {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Nunito', sans-serif;
	text-transform: none;
	box-shadow: 0px 4.5px rgb(88, 0, 3);
	border-radius: 20px;
	background-color: #9e0004;
	color: #fff;
	min-width: 47%;
    height: 37px;
	border: 0;
	font-size: 17.5px;
	transition: ease-in-out 0.22s;
	cursor: pointer;
}

._btn-tq:hover {
	background-color: #fff;
	color: rgb(88, 0, 3);
	transition: ease-in 0.22s;
}

._btn-tq > i{
	margin-left: 2px;
}

button,
button > i {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}