<div class="center" style="width: 100%; min-height: 100px !important; background-color: #fff;">
    <br/>
    <form action="/tquser" method="POST">
        <div class="input-field" style="width: 50%; color:#000; margin: 0 auto;">
            <input type="text" name="question" id="qst" />
            <label for="qst">Pregunta</label>
        </div>
    </form>
</div>