.overlay,
.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.overlay {
	z-index: -34;
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100vw;
	height: 0;
	opacity: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 250ms;
}

.overlay.active {
	height: 100vh;
	opacity: 1;
	z-index: 34;
}

.container {
	display: flex;
	flex-direction: column;
	background: #fff;
	min-height: 473px;
	width: 389px;
	max-width: 485px;
	color: #1b1b1b;
	border-radius: 20px;
	padding: 20px 40px 0 40px;
	opacity: 0;
	display: flex;
	justify-content: end;
	align-items: end;
}
.container > h1 {
	margin-bottom: 12px;
	font-size: 31px;
}
.inputs-registro > label {
	padding-left: 21px;
}
.input {
	background: var(--tq-gray-01);
	width: 306px;
	height: 47px;
	border-radius: 20px;
	margin-bottom: 14px;
	transition: 200ms;
	padding: 18px;
	color: #fff;
	font: normal normal bold 20px/26px Nunito;
}
input:focus {
	outline: none !important;
	outline-width: 0 !important;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.input:hover {
	opacity: 1;
	background: var(--tq-gray-03);
}
.buttons {
	width: 300px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cancel {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--tq-red-03);
	width: 157px;
	height: 42px;
	color: #fff;
	border-radius: 25px;
	margin: 6px;
	transition: transform 100ms, background 150ms, opacity 150ms;
	font: normal normal bold 20px/26px Nunito;
	overflow: hidden;
	position: relative;
}
.cancel > span:nth-child(1) {
	display: block;
	transition: transform 150ms ease-out;
}
.cancel > span:nth-child(2) {
	position: absolute;
	transition: transform 150ms ease-out, opacity 200ms;
	opacity: 0;
}
.cancel:hover > span:nth-child(1) {
	transform: translateX(120px);
}
.cancel:hover > span:nth-child(2) {
	transform: translateX(0);
	opacity: 1;
}
.crear {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--tq-blue-01);
	width: 157px;
	color: #fff;
	height: 42px;
	border-radius: 25px;
	transition: transform 100ms, background 150ms, opacity 150ms;
	font: normal normal bold 18px/26px Nunito;
	overflow: hidden;
	position: relative;
}
.crear > span:nth-child(1) {
	display: block;
	transition: transform 150ms ease-out;
}
.crear > span:nth-child(2) {
	position: absolute;
	transition: transform 150ms ease-out, opacity 200ms;
	opacity: 0;
}
.crear:hover > span:nth-child(1) {
	transform: translateX(130px);
}
.crear:hover > span:nth-child(2) {
	transform: translateX(0);
	opacity: 1;
}

.overlay.active > .container {
	opacity: 1;
}
