.inputs-registro {
	width: 320px;
}

.inputs-registro > label {
	padding-left: 21px;
}

.input {
	background: var(--tq-gray-02);
	width: 93%;
	height: 47px;
	border-radius: 20px;
	margin-bottom: 14px;
	transition: 200ms;
	padding: 18px;
	color: #fff;
	font: normal normal bold 20px/26px Nunito;
}

.input:hover {
	opacity: 1;
	background: var(--tq-gray-03);
}

.buttons {
	width: 95%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.cancel {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--tq-red-03);
	width: 48%;
	height: 42px;
	color: #fff;
	border-radius: 25px;
	transition: transform 100ms, background 150ms, opacity 150ms;
	font: normal normal bold 20px/26px Nunito;
	overflow: hidden;
	position: relative;
}

.cancel > span:nth-child(1) {
	display: block;
	transition: transform 150ms ease-out;
}

.cancel > img {
	position: absolute;
	transition: transform 150ms ease-out, opacity 200ms;
	opacity: 0;
	width: 22px;
}

.cancel:hover > span:nth-child(1) {
	transform: translateX(120px);
}

.cancel:hover > img{
	transform: translateX(0);
	opacity: 1;
}

.crear {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--tq-blue-01);
	width: 48%;
	color: #fff;
	height: 42px;
	border-radius: 25px;
	transition: transform 100ms, background 150ms, opacity 150ms;
	font: normal normal bold 18px/26px Nunito;
	overflow: hidden;
	position: relative;
}

.crear > span:nth-child(1) {
	display: block;
	transition: transform 150ms ease-out;
}

.crear > img {
	position: absolute;
	transition: transform 150ms ease-out, opacity 200ms;
	opacity: 0;
}

.crear:hover > span:nth-child(1) {
	transform: translateX(130px);
}

.crear:hover >img {
	transform: translateX(0);
	opacity: 1;
}

.terms{
    margin-left: 6px;
}