

<link rel="stylesheet" href="/bintqcss/main-idx.tq.css" />
<tqc class="container valign-wrapper">
    <tqc-mk-sb class="row">
        <tqc-sbc class="col">
            <form action="/tq-auth" method="post">
                <img class="responsive-img _0x24f8" src="/img/ltqrNEW.png" draggable="false"/>
                <div style="width:100%;">
                    <% if(err.length > 0){ %>
                        <tq-error></tq-error>
                    <% } %> 
                    <div class="input-field div-field-tq">
                        <input placeholder="CREA UN NOMBRE PARA TQ" id="usrTQ" name="tquser" autocomplete="off" class="inputNomTQ" />
                    </div>
                    <button type="submit" class="btn btnTQ" style="float:left;">
                        <i class="material-icons">chevron_right</i>
                    </button>
                </div>
            </form>
            <div class="div-tq-secondary center">
                <button type="button" class="btn _btn-tq">
                    Bandeja
                </button>
                <button type="button" class="btn btn-med _btn-tq">
                    Contactos
                </button>
                <button type="button" class="btn _btn-tq">
                    Ayuda
                    <i class="material-icons right" style="margin-left:3px">help</i>
                </button>
            </div>
        </tqc-sbc>
    </tqc-mk-sb>
</tqc>
<script src="/socket.io/socket.io.js"></script>
<script src="/bintqjs/main-idx.tq.js"></script>
<script src="/bintqjs/ls.tq.js"></script>
<script>
    window.addEventListener('load', () => resizeMainElements())
    window.addEventListener('resize', () => {
        let bodyHeight = document.body.getBoundingClientRect().height;
        let bodyWidth = document.body.getBoundingClientRect().width;
        if(bodyHeight < 627 || bodyWidth < 520){
            document.body.classList.remove('d-scroll');
        }else{
            document.body.classList.add('d-scroll');
        }
    });
</script>