.container{
    margin: 0;
    width: 100%;
    max-width: 2000px;
}

.section{
    padding-top: 0;
    padding-bottom: 6rem;
}

.row{
    width:100%;
}

.col{
    padding: 0 !important;
}

.carousel{
    width: 100%;
    max-height: 390px !important;
    padding: 0  !important;
    
}

.carousel > a{
    width:100% !important;
    
}
#bien{
    height: 100%;
    width: 67%;
    margin-left: 15.5%;
    min-width: 500px;
}

#_tq-link-user{
    position: absolute;
    left: -999em;
}

#that {
   position: relative;
   left: 44%;
   bottom: -62px;
   opacity: 0.5;
}

._btn-tq{
    margin-top: 15px;
    font-family: 'Nunito', sans-serif;
    text-transform: none;
    box-shadow: 0px 4.5px rgb(88, 0, 3);
    border-radius: 1000px;
    background-color:#9E0004 !important;
    color:#fff;
    min-width: 115px;
    min-height: 55px;
    border: 0;
    font-size: 22.5px;
    transition: ease-in-out .22s;
    padding: 13px 15px;
}

._btn-tq>i{
    font-size: 1.1em;
}

._btn-tq:hover{
    background-color:#fff !important;
    color:rgb(88, 0, 3);
    transition: ease-in .22s;
    cursor: pointer;
}

#boton {
    margin: 0 auto;
}

#link > i {
    font-size: 2rem !important;
    margin-left: 7px;
}

#link {
    font-family: 'Nunito', sans-serif;
    text-transform: none;
    box-shadow: 1.5px 1.5px rgb(7, 7, 7);
    border-radius: 1000px;
    background-color: rgb(240, 236, 236) !important;
    color:#fff;
    min-width: 250px;
    min-height: 50px;
    border: 1.9px solid rgb(58, 56, 56);
    font-size: 22.5px;
    transition: ease-in-out .22s;
    margin-bottom: 16px;
    margin-top: 39px;
    color: #00909E;
    padding: 6px 23px;
}
#link:hover{
    background-color:#9E0004 !important;
    color:#fff;
    transition: ease-in .22s;
}

@media only screen and (max-width:1000px){
    #bien{
        width: 80%;
        margin-left: 10%;
    }
}
@media only screen and (max-width:724px) {
    #bien{
        height: auto;
        width: 100%;
        margin-left: 0%;
        background: none;
        min-width: 300px;
    }
    .section{
        padding-bottom: 9rem;
    }
}
@media only screen and (max-width: 492px){
    .section{
        padding-bottom: 16rem;
    }
}
