.btn-cancel {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--tq-red-03);
	width: 48%;
	height: 42px;
	color: #fff;
	border-radius: 25px;
	transition: transform 100ms, background 150ms, opacity 150ms;
	font: normal normal bold 20px/26px Nunito;
	overflow: hidden;
	position: relative;
}

.btn-cancel > span:nth-child(1) {
	display: block;
	transition: transform 150ms ease-out;
}

.btn-cancel > img {
	position: absolute;
	transition: transform 150ms ease-out, opacity 200ms;
	opacity: 0;
	width: 22px;
}

.btn-cancel:hover > span:nth-child(1) {
	transform: translateX(300%);
}

.btn-cancel:hover > img {
	transform: translateX(0);
	opacity: 1;
}

.btn-create-account {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--tq-blue-01);
	width: 48%;
	color: #fff;
	height: 42px;
	border-radius: 25px;
	transition: transform 100ms, background 150ms, opacity 150ms;
	font: normal normal bold 18px/26px Nunito;
	overflow: hidden;
	position: relative;
}

.btn-create-account:disabled {
	opacity: 0.6;
	filter: grayscale(0.55);
}

.btn-create-account > span:nth-child(1) {
	display: block;
	transition: transform 150ms ease-out;
}

.btn-create-account > img {
	position: absolute;
	transition: transform 150ms ease-out, opacity 200ms;
	opacity: 0;
}

.btn-create-account:hover:not(:disabled) > span:nth-child(1) {
	transform: translateX(300%);
}

.btn-create-account:hover:not(:disabled) > img {
	transform: translateX(0);
	opacity: 1;
}
