
<link rel="stylesheet" href="/bintqcss/user-idx.css">
<div class="container section">
    <div class="row">
        <div class="col s12">
            <div class="carousel carousel-slider" style="background:rgba(29, 30, 31, 0.705);">
                <div class="carousel-fixed-item center" >
                  </div>
                <a class="carousel-item" href="#"><img id="bien" src="/img/ft.png"></a>
                <a class="carousel-item" href="#"><img id="bien" src="/img/ft2.png"></a>
                <a class="carousel-item" href="#"><img id="bien" src="/img/ft3.png"></a>
                <a class="carousel-item" href="#"><img id="bien" src="/img/ft4.png"></a>
                <a class="carousel-item" href="#"><img id="bien" src="/img/ft5.png"></a>
            </div>
        </div>
    </div>
    <div class="center" id="boton">
        <div class="col s12">
            <button type="button" class="btn waves-effect waves-light" id="link" onclick="copyLink()">
                 Copia el link aqu&iacute;
                 <i class="material-icons right">
                     link
                 </i>
            </button>
            <input type="text" value="<%= tquser %>" id="_tq-link-user" aria-hidden="true" />
        </div>
        <div class="col s12">
            <button type="button" class="_btn-tq">
                Bandeja
                <i class="material-icons right">
                    inbox
                </i>
            </button>
        </div>
    </div>
</div>
<script src="/bintqjs/user-idx.js"></script>
<%- include('../00partials/alert') -%> 
