.v-v {
	display: flex;
	flex-direction: column;
	vertical-align: middle;
	min-width: 100vw;
	justify-content: space-evenly;
	min-height: 100vh;
}

.svg-loader {
	margin: 0 auto;
	width: 20%;
	height: 20%;
	min-width: 129.5px;
	min-height: 150.1px;
	animation: vuelta 730ms linear 50ms infinite;
}

@keyframes vuelta {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
