.v-v {
	display: flex;
	flex-direction: column;
	vertical-align: middle;
	min-width: 100vw;
	justify-content: space-evenly;
	min-height: 100vh;
}

:global .tq-loader-eye {
	margin: 0 auto;
	width: 20%;
	height: 20%;
    animation: loaderEyeAnim 730ms linear 50ms infinite;
    min-height: 0.1px;
}

:global @keyframes loaderEyeAnim {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
