<footer class="page-footer" style="min-height:10vh;">
    <div class="container">
        <div class="row" style="margin-bottom: 0px!important;">
            <div class="center-align">
                <span class="white-text footer-sbm">SB Meek Company</span>
                <p class="footer-text">&copy; All rights reserved (<%= age %>)
                    <span class="red-text">{ <span id="date-n-time"></span> }</span> <%# propositos de debug %> 
                </p>
            </div>
        </div>
    </div>
</footer>