.overlay,
.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.overlay {
	z-index: -34;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 0;
	opacity: 0;
	background: rgba(0, 0, 0, 0.8);
}

.overlay.active {
	animation: enableOverlay 300ms;
	height: 100%;
	opacity: 1;
	z-index: 34;
}

@keyframes enableOverlay {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.container {
	display: flex;
	flex-direction: column;
	background: #fff;
	width: 600px;
	height: 0;
	color: #1b1b1b;
	border-radius: 20px;
	padding: 20px 40px 0 40px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	overflow: hidden;
	transition: height 250ms;
}

@keyframes enlarge {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1.02);
	}
}

.overlay.active > .container {
	display: flex;
	justify-content: unset;
	align-items: center;
	transform: scale(1);
	animation: enlarge 150ms;
}

.inner-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	transition: transform 150ms;
}

.inner-container > h1 {
	/* margin-bottom: 12px; */
	font-size: 31px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inner-container.toggleContent {
	animation: change 220ms !important;
}

@keyframes change {
	0% {
		transform: scale(0.9);
	}
	90% {
		transform: scale(1.01);
	}
	100% {
		transform: scale(1);
	}
}

.toggler {
	color: var(--tq-blue-01);
	text-decoration: none;
	cursor: pointer;
	transition: color 150ms;
	margin-left: 4px;
}

.toggler:hover {
	color: var(--tq-blue-02);
}

.inner-container > span {
	color: var(--tq-gray-02);
	display: flex;
	font-size: 16px;
}

.inputs-and-buttons > a {
	margin-left: 14px;
	color: var(--tq-blue-01);
	text-decoration: none;
}

.inputs-and-buttons > a:hover {
	color: var(--tq-blue-02);
}

.inputs-and-sign-container {
	display: flex;
}

.separador-container {
	display: flex;
	align-items: center;
}

.separador {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.separador > span {
	font-size: 16px;
}

.separador > hr {
	width: 1px;
	background: var(--tq-gray-03);
	height: 103px;
}

.buttons-sign {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 5px;
	position: relative;
}

.btn-oauth {
	display: flex;
	align-items: center;
	width: 188px;
	height: 42px;
	color: #fff;
	border-radius: 8px;
	margin: 10px;
	transition: transform 100ms, background 150ms, opacity 150ms;
	overflow: hidden;
	position: relative;
}

.btn-oauth > span {
	display: flex;
	align-items: center;
	transition: transform 150ms ease-out, opacity 200ms;
    font-size: 14px;
    position: absolute;
    left: 16%;
}

.btn-oauth:hover > span {
	transform: translateX(190px);
}

.btn-oauth > span > hr {
	width: 1px;
	background: #ffffff;
	height: 30px;
	margin-right: 9px;
}

.btn-oauth > img {
    position: absolute;
    transition: transform 150ms ease-out, opacity 200ms;
    width: 100%;
    bottom: 15%;
}

.btn-oauth:hover > img {
    margin: 0;
    transform: translateX(0%);
}

.google {
	background: var(--tq-red-03);
}

.google:hover {
	background: #de1f24;
}

.google > img {
    transform: translateX(-42%);
    height: 28px;
}

.facebook {
	background: var(--tq-blue-00);
}

.facebook:hover {
	background: #0a5aa1;
}

.facebook > img{
    transform: translateX(-42%);
    height: 31px;
}

.buttons-sign::after {
	content: '';
	background-color: var(--tq-gray-03);
	width: 155px;
	height: 9px;
	border-radius: 50%;
	position: absolute;
	top: 125%;
	left: 35px;
}

/* Signed Up */
.signedup-container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.tqlogo {
	position: relative;
	width: 500px;
	height: auto;
	top: -15px;
}

.toggler-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	position: relative;
	top: -15px;
}

.toggler-container > h1{
	font-size: 32px;
}

.toggler-container > p {
	max-width: 410px;
	font-size: 16px;
	font-family: NunitoBold;
}

.arrow {
	width: 35px;
	height: 35px;
	transform: rotateY(180deg);
	filter: drop-shadow(0px 0px 1px black) contrast(5.5) invert(0.8) saturate(1)
		sepia(0.001) brightness(0.9);
	transition: filter 150ms, transform 150ms;
}

.login-arrow-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 50%;
	transition: transform 150ms;
	cursor: pointer;
}

.login-arrow-container:hover {
	transform: scale(1.1);
}

.login-arrow-container:hover > .arrow {
	transform: translateX(5px) rotateY(180deg);
	filter: drop-shadow(0px 0px 1px black) contrast(5.5) invert(0.97) saturate(1)
		sepia(0.001) brightness(0.9);
}

.login-arrow-container:hover > span {
	color: var(--tq-blue-02);
}

.login-arrow-container > span {
	font-size: 35px;
}

@media (max-width: 600px) {
	.overlay {
		background: rgba(255, 255, 255, 0.94);
	}

	.container {
		width: 100%;
		max-width: 420px;
		height: 100% !important;
		border-radius: 0;
		padding: 20px;
        justify-content: center !important;
		position: relative;
		background: transparent;
	}

	.inputs-and-buttons {
		max-width: 100%;
	}

	.inputs-and-sign-container {
		flex-direction: column;
		max-width: 100%;
	}

	.buttons-sign {
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
		margin: 15px 0;
	}

	.buttons-sign > button {
		width: 47%;
		max-width: 180px;
	}

	.buttons-sign > button > span {
		width: 80%;
	}

	.google {
		margin: 0;
	}

	.buttons-sign > * > * {
		font-size: 0.8rem;
	}

	.separador-container {
		display: block;
	}

	.separador {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: row;
		width: 100%;
		margin-bottom: -8px;
	}

	.separador > hr {
		height: 1px;
		width: 50%;
		background: #bbbfbe;
	}

	.separador > span {
		margin: 0 10px;
	}

	.buttons-sign::after,
	.inner-container > h1 > small {
		display: none;
	}

	.inner-container > h1 {
		display: inline-block;
		width: 100%;
		margin: 0;
		margin-bottom: 8px;
		text-align: center;
		font-size: 2em;
	}

	.inner-container > h1[aria-labelledby='signup-title'] {
		font-size: 1.7em;
		margin-bottom: 1px !important;
	}
}

@media (max-width: 382px) {

    .buttons-sign{
        flex-direction: column;
    }

    .buttons-sign > button {
        width: 100%;
    }

}

@media (max-width: 296px) {
	.container {
		padding: 1px;
	}
}
