*{
    box-sizing: border-box;
}

:global .alert-anim{
    transition: opacity 500ms;
    will-change: opacity;
}

:global .alert-anim.faded-out {
    opacity: 0;
}

:global .alert-anim.almost-removed{
    animation-name: almost;
    animation-duration: 500ms;
    animation-play-state: paused;
}
/* stylelint-disable */
@keyframes :global(almost){
    0% {
        opacity: 1;
        /* transform: rotate(0.5turn); */
    }
    100% {
        opacity: 0;
    }
}
/* stylelint-enable */

:global #alertoverlay{
    display: none;
    opacity: .5;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #000;
    width: 100%;
    min-width: 100vh;
    min-height: 100vh;
    z-index: 11280;
}

:global #alertbox{
    display: none;
    position: fixed;
    background: #fff;
    border-radius:10px; 
    z-index: 11281;
}

:global #alertboxinner > #alertboxhead{ 
    background: #fff; 
    /* font-size:35px;  */
    color:#1b1b1b; 
}

:global #alertboxinner > #alertboxbody{ 
    background:#fff; 
    padding:0; 
    color:#1b1b1b;
    font-size: 16px;
}

:global #alertboxinner > #alertboxfoot{ 
    background: #fff; 
    padding:10px 0 10px 0;
}

:global #alertboxinner{
    width:70%; 
    margin: 0 auto;
    background:#fff; 
}

:global #x-btn{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
}

:global #x-btn:hover{
    cursor: pointer;
}

:global .alert-img{
    max-height: 200px;
    max-width: 403px;
    margin: 5px;
}

@media only screen and (max-width: 605px){
    :global #alertbox{
        width: 90% !important;
    }
    :global #alertboxinner > #alertboxbody {
        font-size: 17px;
        color: #000;
    }
    :global #btn-ok{
        width: 100%;
    }
    :global .alert-img{
        max-width: 90% !important;
    }
}