:global {
	.loader-container {
		display: flex;
		flex-direction: column;
		vertical-align: middle;
		min-width: 100vw;
		justify-content: space-evenly;
		min-height: 100%;
		background: #fff;
    }

	.tq-loader-eye {
        margin: 0 auto;
		animation: loaderEyeAnim 730ms linear 50ms infinite;
		width: 20%;
		height: 20%;
	}
}

@keyframes loaderEyeAnim {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
