
.overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 34;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background: rgba(0, 0, 0, .8);
    transition: opacity 250ms;
}

.share-save-modal{
    position: absolute;
    display: flex;
    background: #fff;
    border-radius: 31px;
    height: 328px;
    width: 386px;
    opacity: 0;
    align-items: center;
    flex-direction: column;
    z-index: 35
}

.share-save-modal.active{
    opacity: 1;
}

.share-save-modal>h1{
    color: #1b1b1b;
    font-family: 'Nunito';
    font-size: 35px;
    text-align: center;
    line-height: 34px;
    display: flex;
    padding: 18px;
}

._btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--tq-red-00);
    cursor: pointer;
    border-radius: 20px;
    width: 30%;
    transition: transform 100ms, background 150ms, opacity 150ms;
    overflow: hidden;
    position: relative;
    min-width: 250px;
    min-height: 49px;
    padding: 5px;
    margin: 5px;
   
}
._btn>h3{
    display: block;
    color: #fff;
    font-size: 1rem;
    font: normal normal bold 24px/26px Nunito;
    transition: transform 150ms ease-out;
    transform: translateX(0);
    min-width: 100%;
    
}
._btn:hover>h3{
    transform: translateX(-190px);

}
._btn>img{
    position: absolute;
    transform: translateX(120px);
    transition: transform 150ms ease-out, opacity 200ms;
    width: 40px;
    height: 20px;
    opacity: 0;
}
._btn:hover>img{
    transform: translateX(0);
    opacity: 1;
}
._btn:hover{
    background: var(--tq-red-01);
}

.close{
    background: var(--tq-red-00);
    width: 112px;
    height: 30px;
    border-radius: 20px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 100ms, background 150ms, opacity 150ms;
    overflow: hidden;
    position: relative;

}
    .close>span:nth-child(1){
        COLOR: WHITE;
    font: normal normal bold 13px/26px Nunito;
    display: block;
    transition: transform 150ms ease-out;
    }
    .close>span:nth-child(2){
        COLOR: WHITE;
    font: normal normal bold 13px/26px Nunito;
    position: absolute;
    transform: translateX(120px);
    transition: transform 150ms ease-out, opacity 200ms;
    width: 10px;
    opacity: 0;
    }
    .close:hover>span:nth-child(1){
        transform: translateX(-120px);
    }
    .close:hover>span:nth-child(2){
        transform: translateX(0);
    opacity: 1;
    }
    .close:hover{
        background: var(--tq-red-01);;
    }
.share{
    min-width: 61%;
    display: flex;
    flex-direction: row;
    min-height: 9%;
    margin-bottom: -3px;
    align-items: center

        
}
.share>button{
    width: 69%;
    height: 84%;
    margin: 1.5px;
    border-radius: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 100ms, background 150ms, opacity 150ms;
    overflow: hidden;
    position: relative;
    

}
.whatsapp{
    background: #00B800;
}
.whatsapp>img{
    width: 19px;
    display: block;
    transition: transform 150ms ease-out;
 
}
.facebook{
    background: #0A5AA1;
 
}
.facebook>img{
    width: 19px;
    display: block;
    transition: transform 150ms ease-out;
    
}
.instagram{
    background: transparent linear-gradient(247deg, #7D05AF 0%, #D91799 26%, #FC277C 53%, #FC8B09 85%, #FFCB7E 100%) 0% 0% no-repeat padding-box;
}
.instagram>img{
    width: 19px;
    display: block;
    transition: transform 150ms ease-out;
}
.youtube{
    background: #DF0E0E;
}
.youtube>img{
    width: 19px;
    display: block;
    transition: transform 150ms ease-out;
}
.hover-share{
    position: absolute;
    transform: translateX(120px);
    transition: transform 150ms ease-out, opacity 200ms;
    width: 10px;
    font-size: 2rem;
    opacity: 0;
}
.share>button:hover>img{
    transform: translateX(-120px);
}
.share>button:hover>.hover-share{
    transform: translateX(0);
    opacity: 1;
}